.IdCard{
  display: flex;
  height:150px;
  border: black 1px solid;

}

.userInfos p{
  display: flex;
  justify-content: space-around;
font-weight: bold;
padding: 3px;
margin: 0;
}

.userInfos span{
  font-weight: lighter;
  color:rgba(red, green, blue, alpha)
}

.greetings{
  border:black 1px solid;
  height :30px;
  
}

.CreditCard {
  display:flex;
  flex-direction: column;
  margin: 5px 5px 5px 10px;
  border-radius: 10px;
  width: 300px;
  height: 150px;
}
.logo {
  width: 40px;
  height: 15px;
  padding: 5px;
}
.logoDisp{
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.expDate {
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10px;
}
.name {
  display:flex;
  justify-content:flex-start;
  align-items: flex-start;
  margin-left: 10px;
}
.padding {
  padding: 5px;
}
.bank {
  margin-left: 10px;
}